* {
    border: 0px solid red;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 255, 255);
    color: white;
}

a {
    text-decoration: none;
}

/* Header Section */

#header {
    position: fixed;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    z-index: 100;
} 

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    max-height: 120px;
    margin-left: 10px;
    margin-top: 20px;
}

#companyname {
    font-family: "Roboto Mono";
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: white;
    margin-left: 10px;
}

.navigation {
    display: flex;
    list-style: none;
    margin-right: 20px;

}

.navigation li {
    padding: 0 13px;
    font-size: 1.2rem;
}

.navigation a {
    letter-spacing: .3px;
    text-decoration: none;
    color: white;
    transition: all .1s ease-in;

}

.navigation a:hover {
    color: rgb(179, 179, 179);
    text-shadow: none;
    transition: all .1s ease-in;

}

.kontakt a {
    background-color: rgb(202, 3, 3);
    padding: 8px 24px;
    border-radius: 24px;
}

.kontakt a:hover {
    background-color: rgba(172, 6, 6, 0.9);
    color: white;
}

.header-puffer{
    padding: 70px 0 0 0;
}

@media only screen and (max-width: 1032px) {

    #companyname {
        letter-spacing: 1px;
    }

    .navigation li {
        font-size: 1rem;
        padding: 0 5px;
    }
} 

@media only screen and (max-width: 895px) {

    #companyname {
        letter-spacing: 0px;
        margin-left: 5;
        font-size: 1.2rem;
    }

    .navigation li {
        font-size: .9rem;
        padding: 3px;
    }

    .kontakt a {
        background-color: rgb(202, 3, 3);
        padding: 5px 5px;
        border-radius: 24px;
    }

} 

@media only screen and (max-width: 768px) {

    .navigation li {
        display: none;
    }

}

   @media only screen and (max-width: 480px) {
    
    #header {
        height: 100px;
        justify-content: center;
    }

    .logo-container {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    
    .logo {
        display: block;
        max-height: 150px;
        position: relative;
        top: 10px;
        margin: 0 auto;
    }

    #companyname {
        display: none;
    }
}

/* Hero Section */

.hero {
    width: 100%;
    height: 700px;
    background-image: url("../images/flightschool_hero_001.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    max-width: 1400px;
    margin: 0px auto 0;
}

.title {
    font-family: "roboto mono";
    letter-spacing: 6px;
    position: relative;
    text-align: center;
    font-size: 3.4rem;
    width: 100%;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 
        2px 2px 2px red,    /* Roter Schatten, leicht verschoben */
        4px 4px 5px blue,   /* Blauer Schatten, weiter verschoben */
        6px 6px 8px green;  /* Grüner Schatten, am weitesten verschoben */
}


.title h1 {
    margin: 0;
    padding: 20px 0;
}

.herobox {
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(70, 50, 0, 0.7));
    height: 330px;
    width: 400px;
    top: 150px;
    left: 100px;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    text-align: center;
    padding: 25px 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)

}

.herobox h2 {
    font-size: 2rem;
}

.herobox {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.herobox p {
    margin: 4px 0 6px;
}


.herobox .button {
    display: inline-block;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    padding: 15px 20px;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 200, 00, 0.9);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    text-decoration: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 1);;
    transition: all .1s ease-in;
}

.herobox .button:hover {
    background-color: rgba(14, 190, 250, 0.9);
    transition: all .1s ease-in;
    font-size: 1.4rem;
}

.herobox .button:active {
    background-color: rgba(0, 140, 250, 0.9);
    transition: all .02s ease-in;
}

@media only screen and (max-width: 950px) {
    
    .hero {
        height: 600px;
    }
    
    .title {
        font-size: 2rem;
    }

    .herobox {
        top: 120px;
        left: 50px;
    }

}

@media only screen and (max-width: 600px) {
    
    .hero {
        height: 500px;
    }
    
    .title {
        top: 50px;
        font-size: 1.4rem;
    }

    .herobox {
        top: 60px;
        left: 2px;
        scale: 80%;
    }
}

@media only screen and (max-width: 480px) {
    
    .hero {
        height: 450px;
    }
    
    .title {
        font-size: 1.2rem;
    }

    .herobox {
        top: 30px
    }

}

/* Offers Section */

.offers {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
    background-image: url("../images/metal_jet.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    
}

.sectiontitle {
    font-size: 3rem;
    text-align: center;
    display: block;
    margin: 80px auto 0;
    width: 100%;
}

.offerscon {
    margin: 2% 10px 3%;
    width: 25%;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(226, 226, 226, .7);
    text-align: center;
    cursor: pointer;
    transition: all .1s ease-in;
    min-width: 300px;
}

.offerscon img:hover {

    transition: all .1s ease-in;

}

.offerscon img {
    padding: 20px;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 29px;
}

.offerscon h2, .offerscon h3 {
    margin-top: 0;
    color: rgba(4, 25, 145, 0.76);
    padding: 0 10%;
}

@media only screen and (max-width: 980px) {

    .offerscon {
        width: 200px;
        min-width: 80px;
        flex-grow: 1;
        margin: 0 3px 10px; 
    }

    .offerscon img {
        padding: 10px;
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 29px;
    }

    .offerscon h2, .offerscon h3 {
        margin-top: 0;
        color: rgba(4, 25, 145, 0.76);
        padding: 0 2%;
    }
    
    
}

@media only screen and (max-width: 680px) {
    .offerscon {
        width: 150px;
        min-width: 80px;
        flex-grow: 1;
    }

    .offerscon h3 {
    display: none;    
}
    

}

/* Kunden */

.sectiontitle2 {
    font-size: 3rem;
    text-align: center;
    display: block;
    margin: 80px auto 10px;
    width: 100%;
    color: black;
}

.customer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
}

.customerrow {
    max-width: 600px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 2px;
}

.customercon {
    width: 250px;
    height: 500px;
    margin: 0;
    flex-grow: 1;
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.customertext {
    background-color: rgba(0, 0, 0, 0.788);
    padding: 0 20px;
    height: 180px;
    overflow: hidden;
}


.a1 {
    background-image: url("../images/diego_perez.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a2 {
    background-image: url("../images/ana_fernandez.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a3 {
    background-image: url("../images/jorge-mendoza.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.a4 {
    background-image: url("../images/miguel_acosta.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.customercon h2, .customercon h3 {
    color: rgba(255, 255, 255, 01);
}

@media only screen and (max-width: 1024px) {

    .customerrow {
        max-width: 500px;
        width: 400px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 2px;
    }
    
    .customercon {
        width: 200px;
        height: 400px;
        margin: 0;
        flex-grow: 1;
        text-align: left;
        display: flex;
        align-items: flex-end;
    }

    .customertext {
        background-color: rgba(0, 0, 0, 0.788);
        padding: 0 20px;
        height: 150px;
        overflow: hidden;
    }

    .customercon h2, .customercon h3 {
       color: rgba(255, 255, 255, 01);
       font-size: 1rem;
    }
    
    
}











.footer {
    height: auto;
    background-color: black;
}

.copyright {
    margin: 100px 20px 20px;
}

.footer h3, h6 {
    display: block;
    color: white;
    text-align: end;
    padding: 3px;
    margin: 0;
}